@import url(./_normalize.css);
@import url(./_typebase.css);
@import url(./_base-elements.css);
@import url(./_errors-and-validation.css);
@import url(./utility/layouts.css);
@import url(./utility/contrast-demos.css);
/* change these */
:root {
  

  --paper: #fefdfe;
  --sizzle: #F4436F;
  --indigeo :#26066c;
  --navy :#142738;
  --flesh :#F8DAC2;
  --burgundy: #7a2137;
  --gold: #F6D169;
  --pumpkin: #E6A972;
  --forest: #217a64;
  --mint: #43F4C8;

  --c1: var(--sizzle);
  --c1-contrast: var(--mint);
  --c2: var(--indigeo);
  --c2-contrast: var(--gold);
  --c3: var(--navy);
  --c3-contrast: var(--flesh);
  
  --app-background: var(--paper);
  --font-family-base: MouseMemoirs-Regular;
  --font-size-root: 16px;

  --info-color: #82ccdd;
  --info-contrast-color: black;
  --success-color: #78e08f;
  --success-contrast-color: black;
  --warning-color: #fad390;
  --warning-contrast-color: black;
  --danger-color: #e55039;
  --danger-contrast-color: white;
}