@import url(./_normalize.css);
@import url(./_typebase.css);
@import url(./_base-elements.css);
@import url(./_errors-and-validation.css);
@import url(./_buttons.css);
@import url(./utility/layouts.css);
@import url(./utility/contrast-demos.css);

@font-face {
  font-family: Monoton-Regular;
  src: url(./fonts/Monoton-Regular.ttf);
}

/* change these */
:root {
  

  --paper: #fefdfe;
  --sizzle: #CA1444;
  --indigeo :#4D4250;
  --navy :#142738;
  --flesh :#F8DAC2;
  --burgundy: #F2a297;
  --gold: #F6D169;
  --pumpkin: #E6A972;
  --forest: #288D85;
  --mint: #b05574;

  --c1: var(--forest);
  --c1-contrast: var(--gold);

  --c2: var(--indigeo);
  --c2-contrast: var(--gold);
  
  --c3: var(--sizzle);
  --c3-contrast: var(--flesh);

  --c4: var(--pumpkin);
  --c4-contrast: var(--navy);
  
  --app-background: var(--paper);
  --font-family-base: Monoton-Regular;
  --font-size-root: 16px;

  --info-color: #82ccdd;
  --info-contrast-color: black;
  --success-color: #78e08f;
  --success-contrast-color: black;
  --warning-color: #fad390;
  --warning-contrast-color: black;
  --danger-color: #e55039;
  --danger-contrast-color: white;
}